[submodule "apps/deathstarbench"]
	path = apps/deathstarbench
	url = git@gitlab.cs.washington.edu:shli/deathstarbench.git
[submodule "apps/train-ticket"]
	path = apps/train-ticket
	url = git@gitlab.cs.washington.edu:shli/train-ticket.git
[submodule "apps/onlineboutique"]
	path = apps/onlineboutique
	url = git@github.com:vic-lsh/microservices-demo.git
[submodule "apps/fleetcast"]
	path = apps/fleetcast
	url = git@github.com:lilygn/FleetCast.git
[submodule "apps/pitstop"]
	path = apps/pitstop
	url = git@github.com:EdwinVW/pitstop.git
[submodule "apps/teastore-saga"]
	path = apps/teastore-saga
	url = git@github.com:t2-project/t2-project.git
